*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: lightslategray;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
}

#logo{
    font-size: 2rem;
    color: ghostwhite;
    grid-column: 2/3;
}

.menu{
    justify-self: end;
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headline{
    font-family: sans-serif;
    font-size: 4.5rem;
    position: absolute;
    bottom: 10%;
    left: 10%
    
}
.back{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(226,105,105,1) 0%, rgba(162,162,162,1) 100%);
    
}