/* INICIO DE ESTILO */
header {width:100%; height: 100px; background-color: forestgreen;}
#brand{
    width: 25%;
    height: 100px;
    background-color: greenyellow;
    position: relative
    float: left;
}
#navbar{
    width: 75%;
    height: 100px;
    background-color: darkgreen;
    position: relative;
    top:10%;
    left: 25%;
    top: -100px;
}
p{
    font-size: 24px; 
    color: darkgray;
}
.titulo{
    font-size: 48px; 
    color: blue;
}
.c1,.c2,.c3{
    width: 100%;
    height: 60vh;
    background-color:deeppink;
    overflow: hidden;
}

.c2 {
    background-color: darkviolet
}
.c3 {
    background-color: deepskyblue;
    display: flex;
    flex-flow: row; 
}
.c2a,.c2b,.c2c{
    width: 33%;
    height: 60vh;
    position: relative;
    float: left
}
.c2b{
    background-color: cornflowerblue
}
.c2c{
    background-color: skyblue;
    width: 34%
}
.c3a,.c3b{
    width: 50%;
    height: 60vh;
    position: relative;
    float: left
}

.c3a{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.item{
    width: 500px;
    height: 200px;
}
.redes{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: forestgreen;
    z-index: 4;
}
footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: coral;
}
.fbrand{
    position: relative;
    float: left;
    width: 20%;
    height: 250px;
    background-color: burlywood;
    padding: 30px;
    box-sizing: border-box;
}
.fmenu{
    position: relative;
    float: left;
    width: 80%;
    height: 250px;
    background-color: chocolate;
    padding: 30px;
    box-sizing: border-box;
}
.legales{
    clear: both;
    width: 100%;
    height: 50px;
    background-color: darkgoldenrod
}
ul,ol{
    list-style-type: none; 
    padding: 0px; 
    margin: 0px;
}
table{
    font-family: sans-serif;
    font-size: 1rem;
    color: black;
    text-align: left;
}
td{
    vertical-align: top;
    
}
li{
    padding: 10px 0px 0px 10px;
}
th{
    border-bottom: 1px solid gray;
    padding: 0px 0px 5px 10px;
}
td a{
    color: black;
}